{% extends 'base.html' %}
{% block content %}

{% for bulletin in board.all %}
<br>
<div class="container">
    <p>{{ bulletin.category }}</p>
    <h1 class="title is-4">{{ bulletin.title }}</h1>
    <p>{{ bulletin.points }}</p>
    <p>{{ bulletin.summary }} <a href="{% url 'detail' bulletin.id %}">...more</a></p>
    <p><a href="{% url 'delete' bulletin.id %}" style="text-decoration: none;">삭제</a></p>
    <p><a href="{% url 'edit' bulletin.id %}" style="text-decoration: none;">수정</a></p>
</div>
{% endfor %}

{% endblock %}